*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-rounded{
    width:50px;
    height:50px;
    border-radius:50%;

}

.creator{
    margin-left: 10px;
}

h5{
    margin-bottom: 0;
}


.card-custom{
    border:none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
.card-custom .card-header, .card-custom .card-footer{
    border: none;
    background-color: inherit;
}

.img-thumbnail{
    border:none;
}

.bootstrap-tagsinput{
    width: 100%;
}

.bootstrap-tagsinput .tag{
    color: #000;
    background: bisque;
}
